.sidebar {
  width: 18%;
  padding: 30px 0 30px 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  position: relative;
  transition: .3s width cubic-bezier(0.175, 0.885, 0.32, 1.275);
  z-index: 100;

  @media (max-width: 1200px) {
    width: 20%;
    padding-left: 15px;
  }

  @media (max-width: 992px) {
    padding: 20px;
    width: 80px;
    flex-direction: column;
  }

  @media (max-width: 768px) {
    border-radius: 20px 20px 0 0;
    padding: 0;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    right: 0;
    transition: .3s height cubic-bezier(0.175, 0.885, 0.32, 1.275);
    z-index: 100;

    img {
      margin-bottom: 0;
    }
  }
}

.sidebarHead {
  padding-right: 20px;

  @media (max-width: 992px) {
    padding-right: 0;
  }
}

.sidebarSmall {
  padding: 20px;
  width: 80px;

  @media (max-width: 768px) {
    height: auto;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s height cubic-bezier(0.175, 0.885, 0.32, 1.275);
    z-index: 100;
  }
}

.sidebarIcon {
  cursor: pointer;
}

.sidebarMenu {
  padding-left: 0;
  margin: 0;
  height: 100%;

  li:last-child {
    margin-top: auto;
  }

  @media (max-width: 992px) {
    align-items: center;
  }

  @media (max-width: 768px) {
    width: 100%;

    li {
      width: 100%;
    }
  }
}

.sidebarMenuLink {
  display: flex;
  align-items: center;
  gap: 14px;
  text-decoration: none;
  color: var(--text-secondary-color);
  transition: .3s ease-in-out;
  border-right: 1px solid transparent;
  position: relative;

  &:hover {
    color: #2CA9BC;
  }

  &::after {
    position: absolute;
    content: '';
    right: -3.5px;
    height: 100%;
    width: 4px;
    background: #3B39F3;
    display: none;
    transition: .3s ease-in-out;
    border-radius: 10px;

    @media (max-width: 992px) {
      right: -27px;
    }
  }

  span {
    @media (max-width: 768px) {
      display: flex!important;
    }
  }
}

.sidebarMenuLinkActive {
  transition: .3s ease-in-out;

  span {
    color: var(--orange-color);
  }

  &::after {
    display: block;
  }

}

.sidebarMenuLinkActiveSmall {
  justify-content: center;

  &::after {
    right: -24px;

    @media (max-width: 992px) {
      right: -27px
    }

    @media (max-width: 768px) {
      right: 0;
    }
  }

  @media (max-width: 768px) {
    justify-content: start;
  }
}
