.searchInput {
  border: none;
  border-bottom: 1px solid var(--orange-color);
  color: var(--orange-color);
  outline: none;
  background: transparent;

  &::placeholder {
    font-size: 14px;
    color: var(--orange-color);
  }
}